@import url('https://fonts.cdnfonts.com/css/vogue');

@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza Thin Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Lorenza';
  src: url('fonts/Lorenza Medium Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vogue";
}

body {
  background: #000;
  overflow-x: hidden; 
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease;
}

.panel {
  position: relative;
  width: 25%;
  flex: 1; 
  height: 100%;
  transition: flex 0.6s ease, filter 0.6s ease;
  overflow: hidden;
}

.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.6s ease;
  overflow: hidden
}

.panel.active {
  flex: 3;
}

.panel:not(.active) {
  flex: 1; 
}

.panel:not(.active) img {
  filter: grayscale(100%);
}

.panel.active img {
  filter: grayscale(0);
}


.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  padding: 20px 40px;
  height: 325px;
  width: 100%;
  transition: opacity 0.4s ease;
  background: #00000099;
}

.text-content {
  width: 160px;
  margin: 0 auto;
  text-align: center;
  transition: width 0.6s ease, opacity 0.6s ease;
}

.text-content h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 1;
}

.text-content p {
  font-family: "Lorenza";
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  margin-bottom: 40px;
  width: 448px;
  margin: 0 auto 40px;
  text-align: center;
  white-space: normal;
}

.text .btn {
  display: inline-block;
  padding: 16px 32px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease;
  opacity: 0;
  font-family: "Lorenza";
  font-size: 16px;
    box-shadow: 
    0px 0px 44.2px 0px #FFFFFF99,
    0px 0px 14.8px 0px #FFFFFFCC;
}

.panel.active .text .btn,
.panel.active .text p {
  opacity: 1;
}

.panel.active .text-content {
  width: 50%;
}

.btn:hover {
  background: white;
  color: black;
  box-shadow:
   0px 0px 44.2px 0px #00000099,
    0px 0px 14.8px 0px #000000cc; 
}


.blackcont {
    background-color: black;
    padding-bottom: 269px;
    max-width: 100%;
    overflow-x: hidden;
}

.blackcont h2 {
    color: white;
    text-align: center;
    padding-top: 164px;
    padding-bottom: 69px;
    font-size: 40px;
    font-weight: 400;
    font-family: Vogue;
}

.images_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    width:100%;
}

.imgages_cont img {
    height: 100%;
    transition: transform 0.3s linear;
    object-fit: cover;
}

.images_cont img:nth-child(1),
.images_cont img:nth-child(5) {
    transform: translateY(-30px);
}


/* --- CHANGED THIS LINE --- */
@media (max-width: 768px) {

    .images_cont img:nth-child(1),
    .images_cont img:nth-child(5) {
        display: none;
    }

    .images_cont img {
        width: 150px;
        height: 400px;
    }

    .images_cont img:nth-child(3) {
        transform: translateY(-40px);
    }

    body {
        overflow-x: visible;
    }

    .blackcont {
        overflow: hidden;
        max-width: 100%;
    }
}

/* --- AND CHANGED THIS LINE --- */
@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .panel {
    width: 100%;
    height: 100vh;
    flex: none !important;
  }

  .panel.active,
  .panel:not(.active) {
    flex: none;
  }

  .panel img {
    filter: grayscale(0) ;
  }

  .panel:not(.active) img {
    filter: grayscale(0) ;
  }

  .text {
    height: auto;
    padding: 30px 20px;
  }

  .text-content {
    width: 100% !important;
    max-width: 400px;
  }

  .text-content h2 {
    font-size: 40px;
  }

  .text-content p {
    width: 100% !important;
    max-width: 220px;
    font-size: 14px;
    opacity: 1;
  }

  .text .btn {
    opacity: 1;
    padding: 16px 32px;
    font-size: 16px;
  }
}

